<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ACQUISITION_EXALEAD/src/com/keywords/processing/ExaleadKeywordsThreadPool.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.keywords.processing.ExaleadKeywordsThreadPool"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ACQUISITION_EXALEAD"/>
</launchConfiguration>
