<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CRAWLER4J/src/crawl4j/daemon/links/Neo4jLinksDaemon.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="crawl4j.daemon.links.Neo4jLinksDaemon"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CRAWLER4J"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms6128m -Xmx12128m"/>
</launchConfiguration>
