<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/URL_LIST_CRAWL/src/com/httpstatus/StatusListThreadPool.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.httpstatus.StatusListThreadPool"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="CdiscountBot-crawler 50 200"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="URL_LIST_CRAWL"/>
</launchConfiguration>
